.expense-list {
    padding: 1rem;
    background-color: rgb(31, 31, 31);
    margin: 2rem auto;
    width: 50rem;
    max-width: 95%;
    list-style: none;
}

.expense-list__fallback {
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}